#### Desafios operados aritméticos
Quantos % do salário esta comprometido com as despesas

In [3]:
salario = float(input("Digite o seu salário: "))
despesas = float(input("Digite o total das sua despesas: "))
porcentagem = (despesas * 100) / salario
print(f'Seu salário é {salario}, suas despesas é {despesas}, {porcentagem}% do seu salário é destinado para suas contas')

Seu salário é 3500.0, suas despesas é 2200.0, 62.857142857142854% do seu salário é destinado para suas contas

#### Operadores Relacionais
'> maior <p>
'>= maior ou igual<p>
'< menor<p>
'<= menor ou igual<p>
'!= diferente<p>
'== igual<p>

In [ ]:
4 > 3 # 4 é maior que 3
4 >= 4 # 4 é maior ou igual que 4

3 < 4 # 3 é menor que 4
4 <= 4 # 3 é menor ou igual que 4

3 != 4 # 3 é diferente de 4

2 == 2 #

True

#### Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

10
15
12
24
6.0

#### Listas

In [39]:
list = []

# type(list)
# dir(list)
# help(list)
for i in range(1, 21):
    list.append(i)

print(len(list))
nova_lista = [1, 5, 'Ana', 'Bia']
#nova_lista.remove('Ana')
nova_lista.reverse()
nova_lista

20

['Bia', 'Ana', 5, 1]

In [47]:
list = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
list.index('Guilherme')
list[2]
1 in list
'Rebeca' in list
'Pedro' not in list

for i in range(0, len(list)):
    print(list[i])

1
5
Rebeca
Guilherme
3.1415

#### Tupla

In [15]:
tupla = ()
# type(tupla)
# dir(tupla)
tupla = ('Cris',)
type(tupla)

cores = ('verde', 'vermelho', 'azul', 'amarelo', 'branco')
print(cores.count('azul'))
print(len(cores))
cores[1]
for i in range(0, len(cores)):
    print(cores[i])

1
5
verde
vermelho
azul
amarelo
branco

#### Dicionário 01

In [39]:
pessoa = {'nome': 'Marcos Henrique', 'Idade': 28, 'cursos':['Ingles', 'Português']}

# type(pessoa)
# dir(pessoa)
len(pessoa)
print(pessoa.keys()) # Retorna a chave do dicionário nomes das colunas
print(pessoa.values()) # Retorna os valores dos dicionários
print(pessoa.items()) # Retorna as chaves e os valores

dict_keys(['nome', 'Idade', 'cursos'])
dict_values(['Marcos Henrique', 28, ['Ingles', 'Português']])
dict_items([('nome', 'Marcos Henrique'), ('Idade', 28), ('cursos', ['Ingles', 'Português'])])

#### Dicionários 02

In [53]:
pessoa2 = {'nome': 'Marcos Nack', 'Idade': 28, 'cursos':['Ingles', 'Espanhol']}

pessoa2['Idade'] = 30
pessoa2['cursos'].append('Português')
pessoa2.pop('Idade')

pessoa2.update({'idade': 28,'sexo': 'm'})

del pessoa2['cursos']
pessoa2.update({'cursos':['Ingles', 'Espanhol']})
pessoa2

{'nome': 'Marcos Nack',
 'idade': 28,
 'sexo': 'm',
 'cursos': ['Ingles', 'Espanhol']}

#### Conjuntos

In [70]:
a = {1, 2, 3}
b = {3, 4, 5, 6, 7}

print(a.union(b))
print(a.intersection(b))
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}
{3}

{1, 2, 3, 4, 5, 6, 7}

#### Interpolação

In [102]:
nome, idade = 'Ana', 30

print('Nome: %s Idade: %d' % (nome, idade))
print('Nome: {} Idade: {}'.format(nome, idade))
print(f'Nome: {nome} Idade: {idade}')

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30